.button {
	display: inline-flex;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	height: 32px;
	margin-top: 8px;
	padding: 6px 12px;
	cursor: pointer;
	border: none;
	border-radius: 3px;
	background-color: rgba(9, 30, 66, 0.04);
}

.button:hover {
	background-color: rgba(9, 30, 66, 0.205);
}
