.button {
    display: flex;
    height: 32px;
    width: 170px;
    border-radius: 3px;
    background-color: rgb(214, 212, 212);
    cursor: pointer;
    border: none;
    padding: 6px 12px;
    box-sizing: border-box;
    margin-top: 8px;
}

.button:hover {
    background-color: rgb(199, 196, 196);
}