.card {
	overflow: hidden;

	width: 275px;
	margin: 10px;

	border-radius: 5px;
	background-color: rgb(214, 212, 212);
}

.card__title {
	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 40px;
}

.card__title-text {
	padding: 10px 8px;

	text-align: left;

	color: #172B4D;

	font-size: 20px;
	font-weight: 500;
}

.card__list {
	width: 32px;
	height: 32px;
	margin-right: 5px;

	text-align: end;
}
