.wrapper_limitCard{
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.limitCard {
	position: fixed;
	top: 250px;
	left: 540px;
	width: 500px;
	height: 125px;
	z-index: 11;
	text-align: center;
	border-radius: 5px;
	background-color: #F4F5F7;
	border: 1px groove #172B4D;
}

.limitCard__title {
	margin-bottom: 15px;
	padding-top: 10px;
	color: #172B4D;
	font-size: 20px;
	font-weight: bold;
	background-color: rgba(9, 30, 66, 0.205);
}

.limitCard__notice {
	padding: 5px;
	font-size: 18px;
}

.limitCard__footer {
	align-items: center;
	justify-content: center;
	margin: 5px auto;
}

.limitCard__footer_button{
	text-align: center;	
	margin: auto;
	width: 50px;
}
.limitCard__footer_button .button{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}