@import url('./normolize.css');
@import url('../fonts/icomoon/style.css');
@import url('../css/fonts.css');

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	max-width: 1200px;
	margin: 0 auto;

	white-space: nowrap;

	color: #172B4D;
	background: url(/src/img/sky-1.jpg);
	background-size: cover;

	font-family: 'GoogleSans', Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: 400;
}

.wrapper {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 10px 50px 10px;
}

/* slyles header */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 20px;

	font-size: 30px;
	font-weight: 600;
}

.logo {
	display: inline-block;
}

.logo a {
	text-decoration: none;

	color: gray;
}

.logo:hover a {
	transition: color 0.3s ease;

	color: honeydew;
}

.icon-users {
	padding: 10px 30px;

	color: gray;

	font-size: 26px;
	font-weight: 600;
}

.icon-users:hover {
	cursor: pointer;
	transition: color 0.3s ease;

	color: honeydew;
}

.container-global {
	position: relative;
}

.container-cards {
	display: flex;
	justify-content: space-around;
}

.textarea {
	overflow: hidden;

	margin: 0 10px;

	word-break: break-all;

	box-shadow: 0 0 5px rgb(100, 100, 100);
	overflow-wrap: break-word;
}

textarea {
	overflow: hidden;

	width: 100%;
	padding: 0 5px;

	resize: auto;
	word-break: break-all;

	border-radius: 5px;
	box-shadow: 0 0 5px rgb(100, 100, 100);
	overflow-wrap: break-word;
}

.task {
	overflow: hidden;

	/* height: fit-content; */
	min-height: 30px;
	margin: 10px;
	padding: 0 5px;

	white-space: normal;

	border-radius: 5px;
	background-color: rgb(233, 233, 233);
	box-shadow: 0 0 5px rgb(100, 100, 100);
	overflow-wrap: break-word;
}

.task:hover {
	cursor: pointer;

	background-color: rgb(204, 202, 202);
	box-shadow: 0 0 5px rgb(100, 100, 100);
}

@media (max-width: 800px) {
	.wrapper {
		margin: 0;
	}

	.container-cards {
		flex-direction: column;
	}
}
